.fevermap-stats-content {
  margin: 3rem 5% 10%;
  height: 100%;
}
.stats-placeholder {
  /* Placeholder div */
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  margin-top: 2rem;
  padding: 1rem;
}

.stats-placeholder-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 60vh;
    filter: blur(1);
  }
  .coming-soon-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: rgba(255,255,255,0.9);
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    font-size: 1.4rem;
  }
}

.color-range-element {
  position: absolute;
  top: 10px;
  left:10px;

  //width: 15%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  height: fit-content;
  max-width: 200px;
  padding: 8px;
  margin: 10px;

  h5{
    margin-top: 2px;
    margin-bottom: 5px;
  }

  .color-range-entry {
    display: flex;
    align-items: center;
    p {
      margin: 0 0 0 0.5rem;
    }
  }

  .color-range-box {
    width: 10px;
    height: 10px;
    border: 1px solid black;
  }
}

.visualization-map-container {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  position: relative;
  width: 100%;
  height: 100%;

  visualization-map {
    width: 85%;
  }
}

#map{
  position: absolute !important;
  width: 100%;
  height: 500px;
}

.map-illionois{
  display: flex;
  width: 100%;
  position: relative;
}

.map-illionois-map{
  flex-grow: 1;
}

.map-stats{
  display: flex;
  justify-content: space-between;
}

.map-stats-counts{
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 780px) {

  .visualization-map-container {
    flex-direction: column-reverse;
    visualization-map {
      width: 100%;
      margin: 0 0 1rem 0;
    }
    visualization-map-illinois {
      width: 100%;
      margin: 0 0 1rem 0;
    }
  }

  .color-range-element {
    display: none;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    .color-range-entry{
      flex-basis: 30%;
      margin: 0 10% 6px;
    }
  }

  .fevermap-stats-content {
    margin: 3rem 5%;
  }
}